*{
  font-family: 'Lato', sans-serif;
}
p{
  margin-right: 3em;
  margin-left: 3em;
}
ul{
  margin-right: 5.5em;
}
h1{
  font-size: 3em;
  font-weight: 200;
  text-align: center;
  padding-top: 1em;
}
h2{
  font-size: 2.2em;
  font-weight: 200;
  text-align: center;
  padding-top: 1.5em;
}
h3{
  font-size: 1.3em;
  font-weight: 200;
  text-align: center;
}
.red{
  color: #cb4761;
  font-weight: 600;
}
.blue {
  color: #426680;
  font-weight: 600;
}
body{
   background-color: #426680;
 }
.page{
   width: 80vw;    
   background-color: white;   
   margin: auto;
}
.vis-container{
  width: 100%;
  margin-bottom: 10px;
  margin-top: -0.5em;
}
.burn-container{
  width: 100%;
  margin-left: 1vw;
  margin-bottom: 10px;
  margin-top: -0.5em;
}
.pure-g{
  margin-bottom: 25px;
}
.top-p{
  padding-top: 3em;
}
.vega-bind{
  color: white;
}
.vega-bind-name{
  color: black;
}